<div class="row">
    <div class="col-lg-8">
        <button class="btn btn-md btn-success margin-rigth-10" data-toggle="modal" data-target="#myModal">Novo Carro</button>        
        <button class="btn btn-md btn-danger" ng-click="vm.remove(vm.model)">Excluir Carro</button>
    </div>    
    <div class="col-lg-4 margin-bottom-20">
        <div class="input-group">            
            <input type="text" class="form-control" placeholder="Pesquisar">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>       
    <div class="col-lg-12">
        <div class="list-head">
            <div class="row">                
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-sm-2">                            
                            <input type="checkbox" ng-model="vm.all" ng-change="vm.checkAll(vm.model, vm.all)" />
                        </div>
                        <div class="col-sm-10">
                            <div class="label-list">Placa</div>
                        </div>
                    </div>                                
                </div>
                <div class="col-md-2">
                    <div class="label-list">Modelo</div>
                </div>
                <div class="col-md-2">
                    <div class="label-list">Marca</div>
                </div>
                <div class="col-md-2">
                    <div class="label-list">Foto</div>
                </div>
                <div class="col-md-2">
                    <div class="label-list">Combustível</div>
                </div>
                <div class="col-md-2">
                    <div class="label-list">Valor</div>
                </div>
            </div>                
        </div>

        <div class="list-body">
            <div class="list-row" ng-repeat="item in vm.model">
                <div class="row">                    
                    <div class="col-md-2">                        
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="checkbox" ng-model="item.checked">
                            </div>
                            <div class="col-sm-10">
                                <div>{{item.placa}}</div>
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-md-2">                        
                        <div>{{item.modelo}}</div>
                    </div>
                    <div class="col-md-2">
                        <div>{{item.marca}}</div>
                    </div>
                    <div class="col-md-2">
                        <a ng-if="item.imagem" href="{{item.imagem}}">imagem</a>
                        <div ng-if="!item.imagem">Sem imagem</div>
                    </div>
                    <div class="col-md-2">
                        <div>{{item.combustivel}}</div>
                    </div>
                    <div class="col-md-2">
                        <div>{{item.valor}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adicionar novo carro</h4>
      </div>
      <div class="modal-body">
            <form name="formCar">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Placa <span class="required">*</span></label>
                        <input ui-mask="AAA-9999" ng-model="vm.novo.placa" class="form-control" type="text" required>
                    </div>                    
                    <div class="col-lg-6 margin-top-5">
                        <label>Marca <span class="required">*</span></label>                        
                        <ui-select ng-model="vm.novo.marca" on-select="vm.getCarsSeleted(vm.novo.marca.name)" required>
                            <ui-select-match
                                    allow-clear="true"                                    
                                    placeholder="Selecione a marca do veiculo">
                                {{vm.novo.marca.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="mark in vm.marks | orderBy: 'name'">
                                <div>{{mark.name}}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-6 margin-top-5">
                        <label>Modelo <span class="required">*</span></label>
                        <ui-select ng-model="vm.novo.modelo" required>
                            <ui-select-match
                                    allow-clear="true"
                                    placeholder="Selecione Modelo">
                                {{vm.novo.modelo.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="car in vm.cars | orderBy: 'name'">
                                <div>{{car.name}}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>                
                    <div class="col-lg-6 margin-top-5">
                        <label>Foto</label>
                        <input ng-model="vm.novo.imagem" class="form-control" type="text" placeholder="Informe o link da imagem">
                    </div>
                    <div class="col-lg-6 margin-top-5">
                        <label>Combustível</label>                        
                        <ui-select ng-model="vm.novo.combustivel">
                            <ui-select-match
                                    allow-clear="true"
                                    placeholder="Selecione tipo do combustível">
                                {{vm.novo.combustivel}}
                            </ui-select-match>
                            <ui-select-choices repeat="fuel in vm.fuel">
                                <div>{{fuel}}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-6 margin-top-5">
                        <label>Valor</label>
                        <input type="number" ng-model="vm.novo.valor" class="form-control">
                    </div>   
                </div>             
            </form>
      </div>
      <div class="modal-footer">        
        <button type="button" 
                class="btn btn-default" 
                data-dismiss="modal">Fechar</button>
        <button type="button" 
                class="btn btn-success" 
                data-dismiss="modal"  
                ng-disabled="!formCar.$valid"
                ng-click="vm.save(vm.novo)">Salvar</button>        
      </div>
    </div>    
  </div>
</div>