<!doctype html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <title>
    Weather
  </title>
  <meta name="description" content="">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/weather.ico" />
  <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/angular-moment-picker.css">
  <link rel="stylesheet" href="assets/css/select.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>

<body ng-controller="appController" class="bg-gray">
  <div class="container">
    <nav-header></nav-header>
    <div id="app-wrapper" ui-view></div>  
  </div>  
</body>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/pagination/dirPagination.js"></script>
</html>
