.list-head {
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 2px;    
}

.label-list {
    font-weight: bold;
}

.required {
    color: #FF0000;
}

.list-body {        
    background-color: #FFF;    
}

.list-row {    
    padding: 15px;   
    border-bottom: 1px solid  #CCC;
    border-left: 1px solid  #CCC;
    border-right: 1px solid  #CCC;    
    border-radius: 2px;    
}
